/*CSS Reset & Formatting */

html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
/* border: 0;   */
font-size: 100%;  
font: inherit;  
vertical-align: baseline;  
}


*{
  box-sizing:border-box;
  max-width:100%;
}

img{
  border-radius:25px;
}

html{
  font-size:62.5%;
}

body{
  background-color:#374542;
  color:#1F282C;
  font-size:1.6rem;
  line-height:1.5;
  font-family: 'Lato';
}

a{
  text-decoration: none;
  font-family:'Montserrat';
  color:#209423;
}

h2{
  font-family:'Anton';
  font-size:3rem;
}
/* END OF RESET/FORMATTING */




/* NAV BAR STYLING */
header{
  display:flex;
  justify-content: space-around;
  border-bottom: 1px solid #293339;
}
h1{
  font-family:'Anton';
  font-size:5rem;
  text-shadow:2px 2px #1A700D;
  width:50%;
  text-align:center;
}
nav{
display:flex;
justify-content:space-evenly;
width:50%;
}

nav a{
text-align:center;
margin:auto;
padding:12px 30px;
font-family:'Montserrat';
color:#209423;
border-radius:15px;
transition: .3s;
}

nav a:hover{
  background:#209423;
  color:black;
}
/* END OF NAV BAR */


/* TOP SECTION STYLING */

.top{
  display:flex;
  justify-content:space-around;
  width:100%;
  padding:1%;
}
.top .topimg{
  width:40%;
}
.top .bio{
  width:40%;
  display:flex;
  flex-flow:column wrap;
  justify-content:center;
}

.top .topimg img{
  width:100%;
  height:auto;
  border-radius:50%;
}

.top .bio a{
  transition:.3s;
}
.top .bio a:hover{
  font-weight:bold;
}

/* MIDDLE SECTION STYLING */

.mid{
  display:flex;
  flex-flow:row wrap;
  padding:2% 2%;
}

.mid .project{
  width:25%;
  text-align:center;
}

.mid .project img{
  width:100%;
  height:auto;
  padding:3%;
}

/* BOTTOM STYLING */
footer{
  display:flex;
  justify-content:space-around;
  margin:2% 0;
  border-top: 1px solid #293339;
}
footer .footermid{
  text-align:center;
  }

  footer .footermid a{
    padding:6px 15px;
    border-radius:15px;
    transition:.3s;
  }

  footer .footermid a:hover{
    background:#209423;
    color:black;
  }


@media (max-width:800px){
  .top{
    flex-direction:column;
    justify-content:center;
    align-items: center;
  }

}

@media (max-width:500px){
  header{
    flex-direction:column;
    justify-content:center;
    align-items:center;
  }
  nav{
    flex-direction:column;
    justify-content:center;
    align-items:center;
  }

.mid{
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.mid .project{
  width:80%;
}

}