html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
border: 0;  
font-size: 100%;  
font: inherit;  
vertical-align: baseline;  
}

.container .item{
    border: 1px solid black;
    height: 50px;
    width: 200px;
    margin: 20px;
    background: lightgray;
    margin-top: 10px;
    font-size: 32px;
  }
  .container {
    display: flex;
    flex-flow: row wrap;
    border: 1px solid black;
  } 
  .container2 {
    justify-content: flex-start;
    display: flex;
    flex-flow: row;
    border: 1px solid black;
    margin-left: 40px;
    text-align: center;
    
  }
  .container2 .item {
    border: 1px solid black;
    height: 20px;
    width: 100px;
    background: lightgrey;
    text-align: center;
    padding:5px;
  }




  .container3 {
    display: flex;
    flex-flow: row;
    align-content: space-evenly;
    border: 1px solid black;
    height: 300px; 
  }
  .container3 .item {
    border: 1px solid black;
    margin: 10px;
    width: 500px;
  }

  .container3 .image{
      background:url(https://picsum.photos/150);
    width: 400px;
    object-fit: fill;
    margin:10px;
    box-sizing:border-box;  
}

  .container4 {
    display: flex;
    flex-flow: row wrap;
    border: 1px solid black;
    align-content: space-between;
    justify-content: center;
    }
  .container4 .item {
    background:url(https://picsum.photos/150);
    border: 1px solid black;
    margin: 10px;
    width: 180px;
    height: 180px; 
  }
  .container5 {
    display: flex;
    flex-flow: row;
    border:1px solid black;
    justify-content: center;
  }
  .container5 .item {
    border:1px solid black;
    margin:10px;
    width:200px;
    height: 150px;
  }

  .itemcontainer {
      display:flex;
      border: 1px black;
      flex-flow: row-reverse wrap;
      justify-content: center;
      margin-top: 5rem;
      margin-left:75px;

  }
  .itemcontainer .item{
     
  }